<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Another JS Developer Blog</title>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      {{#if logged-in}}
      <a href="/logout">Logout</a>
      <p>Hello {{username}}</p>
      {{else}}
      <a href="login">Login</a>
      {{/if}}
    </nav>
    <h1>Another JS Developer Blog</h1>
  </header>
  <main>
    {{{body}}}
  </main>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>