<div>
  <h1>Login</h1>
  <form class="login-form">
    <label for="login-name">Username:</label>
    <input type="text" id="login-name">
    <label for="login-password">Password:</label>
    <input type="password" id="login-password">
    <button type="submit">Login</button>
  </form>
</div>
<div>Dont have an account?</div>
<a href="/signup">Sign Up</a>