<div>
  <h1>Sign Up</h1>
  <form class="signup-form">
    <label for="signup-name">Username:</label>
    <input type="text" id="signup-name">
    <label for="signup-password">Password:</label>
    <input type="password" id="signup-password">
    <button type="submit">Sign Up</button>
  </form>
</div>
<div>Already have an account?</div>
<a href="/login">Login Instead</a>